.map--container{
    position: relative;
}

.map--info{
    position: absolute;
    left: 0px;
    z-index: 10;
}

.map--info--msg{
    background-color: white;
    margin: 10px;
    box-shadow: rgb(0 0 0 / 30%) 0px 1px 4px -1px;
    border-radius: 5px;
    width: 50% !important;
}

.place-card-large{
    padding: 9px 4px 9px 11px;
    display: grid;
    grid-template-columns: 75% 25%;
}

.place-name {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 500;
    font-size: 14px;
    color: black;
}

.place-card .address, .google-maps-link{
    margin-top: 6px;
}

.google-maps-link{
    color: #1a73e8 !important;
}

.place-card div {
    color: #5b5b5b;
    font-family: Roboto,Arial;
    font-size: 12px;
    -moz-user-select: text;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

.place-card .navigate-text {
    margin-top: 5px;
    text-align: center;
    color: #1a73e8;
    font-size: 12px;
    max-width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.icon {
    background-image: url(https://maps.gstatic.com/mapfiles/embed/images/entity11_hdpi.png);
    background-size: 70px 210px;
}

.navigate{
    margin-top: 8px;
}

.navigate-icon {
    width: 22px !important;
    height: 22px;
    overflow: hidden;
    margin: 0 auto;
}